# Cơ bản về `Python Pandas`

Gói `pandas` là công cụ quan trọng nhất mà các Nhà Khoa học Dữ liệu và Nhà Phân tích làm việc với `Python` hiện nay sử dụng. Các công cụ học máy mạnh mẽ và các công cụ trực quan hóa lộng lẫy có thể thu hút mọi sự chú ý, nhưng `pandas` là hạt nhân của hầu hết các dự án dữ liệu.

`pandas` bắt nguồn từ cụm từ "**pan**el **da**ta", một thuật ngữ kinh tế lượng cho các bộ dữ liệu bao gồm các quan sát qua nhiều khoảng thời gian cho cùng một cá nhân. — [Wikipedia](https://en.wikipedia.org/wiki/Pandas_%28software%29)  

Nếu bạn đang nghĩ về khoa học dữ liệu như một sự nghiệp, thì việc cần thiết đầu tiên bạn cần làm là học `pandas`. Trong bài viết này, chúng tôi sẽ đi qua những thông tin thiết yếu về `pandas`, bao gồm cách cài đặt nó, các ứng dụng của nó, và cách nó hoạt động với các gói phân tích dữ liệu `Python` phổ biến khác như **`matplotlib`** và **`sci-kit learn`**.

<img src="assets/the-rise-in-popularity-of-pandas.png" width=500px />

## `Pandas` dùng để làm gì?

`Pandas` có rất nhiều ứng dụng đến mức có thể hợp lý hơn nếu liệt kê những gì nó không thể làm thay vì những gì nó có thể làm.

Công cụ này về cơ bản là 'nhà' của dữ liệu của bạn. Thông qua `pandas`, bạn làm quen với dữ liệu của mình bằng cách làm sạch, biến đổi, và phân tích nó.

Ví dụ, giả sử bạn muốn khám phá một tập dữ liệu được lưu trữ trong một tệp CSV trên máy tính của bạn. `Pandas` sẽ trích xuất dữ liệu từ tệp CSV đó thành một `DataFrame` — cơ bản là một bảng — sau đó cho phép bạn thực hiện các việc như:

- Tính toán thống kê và trả lời các câu hỏi về dữ liệu, như


    - Trung bình, trung vị, max, hoặc min của từng cột là gì?
    - Cột A có tương quan với cột B không?
    - Phân phối dữ liệu trong cột C trông như thế nào?


- Làm sạch dữ liệu bằng cách thực hiện các việc như loại bỏ giá trị thiếu và lọc các hàng hoặc cột theo một số tiêu chí


- Trực quan hóa dữ liệu với sự giúp đỡ từ `Matplotlib`. Vẽ biểu đồ thanh, đường, histogram, bong bóng, và nhiều hơn nữa.


- Lưu trữ dữ liệu đã được làm sạch, biến đổi trở lại vào một tệp CSV, tệp khác hoặc cơ sở dữ liệu


Trước khi bạn nhảy vào việc mô hình hóa hoặc các biểu đồ trực quan phức tạp, bạn cần phải hiểu rõ về bản chất của tập dữ liệu của mình và pandas là con đường tốt nhất để thực hiện điều đó.

## `Pandas` đóng vai trò như thế nào trong bộ công cụ khoa học dữ liệu?

Không chỉ là một thành phần trung tâm của bộ công cụ khoa học dữ liệu, thư viện `pandas` còn được sử dụng kết hợp với các thư viện khác trong bộ sưu tập đó.

Pandas được xây dựng trên gói **`NumPy`**, có nghĩa là rất nhiều cấu trúc của `NumPy` được sử dụng hoặc tái tạo trong Pandas. Dữ liệu trong `pandas` thường được sử dụng để cung cấp cho việc phân tích thống kê trong **`SciPy`**, chức năng vẽ biểu đồ từ **`Matplotlib`**, và thuật toán học máy trong **`Scikit-learn`**.

Jupyter Notebooks cung cấp một môi trường tốt để sử dụng `pandas` để thực hiện khám phá dữ liệu và mô hình hóa, nhưng `pandas` cũng có thể được sử dụng trong trình soạn thảo văn bản một cách dễ dàng.

Jupyter Notebooks cho chúng ta khả năng thực thi mã trong một ô cụ thể thay vì chạy toàn bộ tệp. Điều này tiết kiệm rất nhiều thời gian khi làm việc với các tập dữ liệu lớn và các biến đổi phức tạp. Notebooks cũng cung cấp một cách dễ dàng để trực quan hóa `DataFrames` và biểu đồ của `pandas`. Thực tế, bài viết này được tạo hoàn toàn trong một Jupyter Notebook.

## Những bước đầu với `Pandas`

### Cài đặt và nhập
`Pandas` là một gói dễ dàng để cài đặt. Mở chương trình dòng lệnh của bạn (đối với người dùng Mac) hoặc dòng lệnh (đối với người dùng PC) và cài đặt nó bằng cách sử dụng một trong hai lệnh sau:

`conda install pandas`

HOẶC 

`pip install pandas`

Hoặc, nếu bạn đang xem bài viết này trong một Jupyter notebook, bạn có thể chạy ô này:

In [ ]:
#!pip install pandas  # Lệnh này sử dụng "shell command", đánh dấu bởi dấu chấm than !. 
#%pip install pandas
# Khi sử dụng %pip install pandas, Jupyter Notebook sẽ đảm bảo rằng thư viện pandas được cài đặt trực tiếp vào môi
# trường Python đang chạy kernel của notebook đó. `%` còn được gọi là "magic command"

Dấu `!` ở đầu sẽ chạy các cell như thể chúng đang ở trong một terminal.

Để nhập/`import pandas`, chúng ta thường nhập nó với một tên ngắn hơn bởi vì nó được sử dụng rất nhiều:

In [ ]:
import pandas as pd

Giờ hãy tìm hiểu về các thành phần cơ bản của pandas.

## Các thành phần chính của `pandas`: `Series` và `DataFrames`

Hai thành phần chính của pandas là `Series` và `DataFrame`.

`Series` về cơ bản là một cột, và `DataFrame` là một bảng đa chiều được tạo thành từ một tập hợp các `Series`. 

<img src="assets/series-and-dataframe.png" width=600px />

`DataFrames` và `Series` khá giống nhau ở chỗ nhiều thao tác bạn có thể thực hiện với cái này thì bạn cũng có thể thực hiện với cái kia, như điền vào các giá trị null và tính trung bình.

Bạn sẽ thấy cách những thành phần này hoạt động khi chúng ta bắt đầu làm việc với dữ liệu ở phần dưới.

### Tạo `DataFrames` từ đầu
Việc tạo `DataFrames` ngay trong `Python` là điều cần biết và rất hữu ích khi kiểm tra các phương pháp và chức năng mới bạn tìm thấy trong tài liệu `pandas`.

Có *nhiều* cách để tạo một DataFrame từ đầu, nhưng một lựa chọn tốt là chỉ sử dụng một `dict` đơn giản.

Giả sử chúng ta có một quầy bán trái cây bán táo và cam. Chúng ta muốn có một cột cho mỗi loại trái cây và một hàng cho mỗi lần mua hàng của khách hàng. Để sắp xếp điều này như một từ điển cho `pandas`, chúng ta có thể làm như sau:

In [ ]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

Và sau đó truyền nó vào hàm khởi tạo DataFrame của pandas:

In [ ]:
purchases = pd.DataFrame(data)

purchases

**Nó hoạt động như thế nào?**

Mỗi cặp *(key, value)* trong `data` tương ứng với một *cột* trong `DataFrame` kết quả.

**Index** của `DataFrame` này đã được cung cấp cho chúng ta khi tạo dưới dạng số từ 0-3, nhưng chúng ta cũng có thể tạo riêng `index` của mình khi khởi tạo `DataFrame`.

Hãy để tên khách hàng là `index` của chúng ta:

In [9]:
import pandas as pd
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])

purchases
purchases.loc['June']

apples     3
oranges    0
Name: June, dtype: int64

Vì vậy, bây giờ chúng ta có thể định vị/**loc**ate đơn hàng của một khách hàng bằng cách sử dụng tên của họ:

In [ ]:
purchases.loc['June']

Sẽ có thêm thông tin về việc định vị và trích xuất dữ liệu từ `DataFrame` sau, nhưng bây giờ bạn nên tạo một `DataFrame` với bất kỳ dữ liệu ngẫu nhiên nào để học.

Hãy chuyển sang một số phương pháp nhanh chóng để tạo `DataFrames` từ các nguồn khác nhau.

## Đọc dữ liệu như thế nào

Việc tải dữ liệu từ các định dạng tệp khác nhau vào `DataFrame` khá đơn giản. Trong các ví dụ sau, chúng tôi sẽ tiếp tục sử dụng dữ liệu về táo và cam của mình, nhưng lần này nó đến từ các tệp khác nhau.

### Đọc dữ liệu từ tệp `CSV`

Với các tệp `CSV`, tất cả những gì bạn cần là một dòng duy nhất để tải dữ liệu vào:

In [ ]:
df = pd.read_csv('purchases.csv')
df = pd.read_csv('purchases.csv', index_col=0)
df

`CSVs` không có chỉ mục như `DataFrame` của chúng ta, vì vậy tất cả những gì chúng ta cần làm là chỉ định `index_col` (cột làm chỉ mục/`index`) khi đọc:

In [ ]:
df = pd.read_csv('purchases.csv', index_col=0)

df

Ở đây chúng ta đang đặt chỉ mục/`index` là cột số 0.

Bạn sẽ thấy rằng hầu hết các tệp `CSV` sẽ không bao giờ có một cột chỉ mục và do đó thường bạn không cần phải lo lắng về bước này.

### Đọc dữ liệu từ `JSON`

Nếu bạn có một tệp `JSON` - về cơ bản là một `dict` Python đã lưu - `pandas` có thể đọc nó một cách dễ dàng:

In [8]:
import pandas as pd
df = pd.read_json(r"E:\DATA\1_test_Src\src\python\python_cheat\CD11_BasicPandas\purchases.json")
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

Lưu ý lần này chỉ mục của chúng ta đã đến (với chúng ta) một cách chính xác vì việc sử dụng `JSON` cho phép các chỉ mục hoạt động thông qua việc lồng ghép. Hãy mở `data_file.json` trong một `notepad` để bạn có thể thấy cách nó hoạt động.

`Panda`s sẽ cố gắng tìm ra cách tạo `DataFrame` bằng cách phân tích cấu trúc của `JSON` của bạn, và đôi khi nó không làm đúng. Thường bạn sẽ cần đặt đối số từ khóa `orient` tùy thuộc vào cấu trúc, vì vậy hãy xem [tài liệu read_json](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html) về đối số đó để xem bạn đang sử dụng hướng nào.

### Đọc dữ liệu từ cơ sở dữ liệu `SQL`

Nếu bạn đang làm việc với dữ liệu từ một cơ sở dữ liệu `SQL`, bạn cần phải thiết lập kết nối đầu tiên bằng cách sử dụng một thư viện `Python` phù hợp, sau đó truyền một truy vấn cho `panda`s. Ở đây chúng tôi sẽ sử dụng `SQLite` để minh họa.

Đầu tiên, chúng ta cần cài đặt `pysqlite3`, vì vậy hãy chạy lệnh này trong `terminal` của bạn:

`pip install pysqlite3`

Hoặc chạy cell này nếu bạn đang sử dụng notebook:

In [ ]:
#!pip install pysqlite3
#%pip install pysqlite3

`sqlite3` được sử dụng để tạo kết nối với một cơ sở dữ liệu mà sau đó chúng ta có thể sử dụng để tạo ra một `DataFrame` thông qua một truy vấn `SELECT`.

Vì vậy, đầu tiên chúng ta sẽ tạo kết nối với một tệp cơ sở dữ liệu `SQLite`:

In [ ]:
import sqlite3
import pandas as pd
con = sqlite3.connect("database.db")
df = pd.read_sql_query("SELECT * FROM purchases", con)

df

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

**Lưu ý**: Nếu bạn có dữ liệu trong `PostgreSQL`, `MySQL`, hoặc một số máy chủ `SQL` khác, bạn sẽ cần lấy thư viện Python phù hợp để tạo kết nối. Ví dụ, `psycopg2` ([link](http://initd.org/psycopg/download/)) là một thư viện thường được sử dụng để tạo kết nối đến `PostgreSQL`. Hơn nữa, bạn sẽ tạo kết nối đến `URI` của cơ sở dữ liệu thay vì tệp như chúng ta đã làm ở đây với `SQLite`. Để biết thêm về khóa học tuyệt vời về `SQL`, hãy xem [The Complete SQL Bootcamp](https://learndatasci.com/out/udemy-the-complete-sql-bootcamp/) trên `Udemy`.

Trong cơ sở dữ liệu `SQLite` này, chúng ta có một bảng tên là `purchases`, và chỉ mục của chúng ta nằm trong một cột tên là `index`.

Bằng cách truyền một truy vấn `SELECT` và kết nối `con` của chúng ta, chúng ta có thể đọc từ bảng *purchases*:

In [ ]:


df

Giống như với `CSV`, chúng ta có thể truyền `index_col='index'`, nhưng chúng ta cũng có thể đặt một chỉ mục sau khi đã thực hiện:

In [ ]:
df = df.set_index('index')

df

Thực tế, chúng ta có thể sử dụng `set_index()` trên *bất kỳ* `DataFrame` nào sử dụng *bất kỳ* cột nào vào *bất kỳ* thời điểm nào. Việc đánh chỉ mục cho `Series` và `DataFrame` là một tác vụ rất phổ biến, và có những cách khác nhau để thực hiện nó.

### Chuyển đổi trở lại thành `CSV`, `JSON`, hoặc `SQL`

Vậy sau khi làm việc mạnh mẽ để làm sạch dữ liệu của bạn, bây giờ bạn đã sẵn sàng để lưu nó dưới dạng tệp theo lựa chọn của bạn. Tương tự như các cách chúng ta đọc dữ liệu, `pandas` cung cấp các lệnh trực quan để lưu nó:

In [2]:
df.to_csv(r'./snew_purchases.csv')
df.to_json('new_purchases.json')
df.to_sql('new_purchases3', con)

NameError: name 'df' is not defined

Khi chúng ta lưu các tệp `JSON` và `CSV`, tất cả những gì chúng ta phải nhập vào các hàm đó là tên tệp mong muốn của chúng ta với phần mở rộng tệp phù hợp. Với `SQL`, chúng ta không tạo một tệp mới mà thay vào đó chèn một bảng mới vào cơ sở dữ liệu sử dụng biến `con` từ trước.

Hãy tiếp tục nhập một số dữ liệu thực tế và đi vào chi tiết một số hoạt động mà bạn sẽ sử dụng rất nhiều.


## Các thao tác `DataFrame` quan trọng nhất

`DataFrames` sở hữu hàng trăm phương thức và các hoạt động khác rất quan trọng cho bất kỳ phân tích nào. Là người mới học, bạn nên biết các hoạt động thực hiện các biến đổi đơn giản của dữ liệu và những hoạt động cung cấp phân tích thống kê cơ bản.

Hãy tải tập dữ liệu phim `IMDB` để bắt đầu:

In [25]:
import pandas as pd
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")
# movies_df.head()

# movies_df.tail(2)

# movies_df.info()

# temp_df = movies_df._append(movies_df)
# temp_df = temp_df.drop_duplicates()

# temp_df.shape

movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue_millions', 'Metascore'],
      dtype='object')

Chúng tôi đang tải tập dữ liệu này từ một `CSV` và chỉ định tiêu đề phim để làm chỉ mục.

### Xem dữ liệu của bạn

Điều đầu tiên cần làm khi mở một tập dữ liệu mới là in ra một vài dòng để giữ làm tham chiếu trực quan. Chúng ta thực hiện điều này với `.head()`:

In [ ]:
movies_df.head()

`.head()` xuất ra **năm** dòng đầu tiên của `DataFrame` theo mặc định, nhưng chúng ta cũng có thể truyền một số: `movies_df.head(10)` sẽ xuất ra mười dòng đầu tiên, ví dụ.

Để xem **năm** dòng cuối cùng, sử dụng `.tail()`. `tail()` cũng chấp nhận một số, và trong trường hợp này chúng ta đang in hai dòng cuối cùng.

In [ ]:
movies_df.tail(2)

Thông thường khi chúng tôi tải vào một tập dữ liệu, chúng tôi thích xem khoảng năm dòng đầu tiên để xem những gì đang nằm dưới đó. Ở đây chúng ta có thể thấy tên của mỗi cột, chỉ mục, và ví dụ về giá trị trong mỗi dòng.

Bạn sẽ nhận thấy rằng chỉ mục trong `DataFrame` của chúng tôi là cột *Title*, mà bạn có thể nhận biết bằng cách xem từ *Title* hơi thấp hơn so với phần còn lại của các cột.

### Thu nhận thông tin về dữ liệu của bạn

`.info()` nên là một trong những lệnh đầu tiên bạn chạy sau khi tải dữ liệu của bạn:

In [ ]:
movies_df.info()

`.info()` cung cấp các chi tiết cơ bản về tập dữ liệu của bạn, như số lượng hàng và cột, số lượng giá trị không `null`, loại dữ liệu trong mỗi cột, và bao nhiêu bộ nhớ `DataFrame` của bạn đang sử dụng.

Lưu ý trong tập dữ liệu phim của chúng ta, chúng ta có một số giá trị còn thiếu rõ ràng trong các cột `Revenue` và `Metascore`. Chúng ta sẽ xem xét cách xử lý những điều đó trong một chút.

Việc xem nhanh kiểu dữ liệu thực sự rất hữu ích. Hãy tưởng tượng bạn vừa nhập một số `JSON` và các số nguyên được ghi như là chuỗi. Bạn thực hiện một số phép toán và tìm thấy một ngoại lệ `"unsupported operand"` bởi vì bạn không thể làm toán học với chuỗi. Gọi `.info()` sẽ nhanh chóng chỉ ra rằng cột bạn nghĩ là tất cả các số nguyên thực ra là đối tượng chuỗi.

Một thuộc tính nhanh chóng và hữu ích khác là `.shape`, chỉ xuất ra một `tuple` của (số hàng, số cột):

In [ ]:
movies_df.shape

Lưu ý rằng `.shape` không có dấu ngoặc đơn và là một `tuple` đơn giản với định dạng (số hàng, số cột). Vì vậy, chúng tôi có **1000 hàng** và **11 cột** trong `DataFrame` phim của chúng tôi.

Bạn sẽ sử dụng `.shape` rất nhiều khi làm sạch và biến đổi dữ liệu. Ví dụ, bạn có thể lọc một số hàng dựa trên một số tiêu chí và sau đó muốn biết nhanh chóng bao nhiêu hàng đã bị loại bỏ.

### Xử lý dữ liệu trùng lặp

Tập dữ liệu này không có các dòng trùng lặp, nhưng luôn quan trọng khi xác minh bạn không đang tổng hợp các dòng trùng lặp.

Để minh họa, chúng ta chỉ cần nhân đôi `DataFrame` phim của chúng ta bằng cách nối nó vào chính nó:

In [ ]:
temp_df = movies_df._append(movies_df)

temp_df.shape

Sử dụng `_append()` sẽ trả về một bản sao mà không ảnh hưởng đến `DataFrame` gốc. Chúng tôi đang ghi lại bản sao này trong `temp_df` để chúng tôi không làm việc với dữ liệu thực.

Lưu ý gọi `.shape` nhanh chóng chứng minh số hàng của `DataFrame` của chúng tôi đã tăng gấp đôi.

Bây giờ chúng ta có thể thử loại bỏ các bản sao:

In [ ]:
temp_df = temp_df.drop_duplicates()

temp_df.shape

Giống như `_append()`, phương thức `drop_duplicates()` cũng sẽ trả về một bản sao của `DataFrame` của bạn, nhưng lần này với các bản sao đã bị loại bỏ. Gọi `.shape` xác nhận chúng tôi đã quay trở lại 1000 dòng của tập dữ liệu gốc của chúng tôi.

Việc liên tục gán `DataFrame` cho cùng một biến như trong ví dụ này hơi rườm rà. Vì lý do này, pandas có tham số từ khóa `inplace` trên nhiều phương thức của nó. Sử dụng `inplace=True` sẽ sửa đổi đối tượng `DataFrame` tại chỗ/trực tiếp:

In [ ]:
temp_df.drop_duplicates(inplace=True)

Bây giờ `temp_df` của chúng tôi *sẽ* có dữ liệu đã biến đổi tự động.

Tham số quan trọng khác cho `drop_duplicates()` là `keep`, có ba tùy chọn có thể:

* `first`: (mặc định) Loại bỏ các bản sao ngoại trừ lần xuất hiện đầu tiên.
* `last`: Loại bỏ các bản sao ngoại trừ lần xuất hiện cuối cùng.
* `False`: Loại bỏ tất cả các bản sao.

Vì chúng tôi không xác định tham số `keep` trong ví dụ trước nên nó được mặc định thành `first`. Điều này có nghĩa là nếu hai hàng giống nhau thì `pandas` sẽ loại bỏ hàng thứ hai và giữ hàng đầu tiên. Sử dụng `last` có hiệu ứng ngược lại: hàng đầu tiên sẽ bị loại bỏ.

`keep`, mặt khác (với tùy chọn `False`), sẽ loại bỏ tất cả các bản sao. Nếu hai hàng giống nhau thì cả hai sẽ bị loại bỏ. Xem điều gì xảy ra với `temp_df`:

In [ ]:
temp_df = movies_df._append(movies_df)  # make a new copy

temp_df.drop_duplicates(inplace=True, keep=False)

temp_df.shape

Vì tất cả các hàng đều là trùng lặp, `keep=False` đã loại bỏ tất cả chúng dẫn đến không còn hàng nào còn lại. Nếu bạn đang tự hỏi tại sao bạn muốn làm điều này, một lý do là nó cho phép bạn xác định tất cả các bản sao trong tập dữ liệu của bạn. Khi các lựa chọn có điều kiện được hiển thị bên dưới, bạn sẽ thấy cách làm điều đó.

### Làm sạch các cột

Nhiều lần, các tập dữ liệu sẽ có tên cột dài dòng với các ký hiệu, từ viết hoa và viết thường, khoảng trắng, và lỗi chính tả. Để việc chọn dữ liệu theo tên cột dễ dàng hơn, chúng ta có thể dành một chút thời gian để làm sạch tên của chúng.

Dưới đây là cách in tên cột của tập dữ liệu của chúng tôi:

In [ ]:
movies_df.columns

Không chỉ `.columns` hữu ích nếu bạn muốn đổi tên cột bằng cách cho phép sao chép và dán đơn giản, nó cũng hữu ích nếu bạn cần hiểu tại sao bạn nhận được `Key Error` khi chọn dữ liệu theo cột.

Chúng tôi có thể sử dụng phương thức `.rename()` để đổi tên một số hoặc tất cả các cột thông qua một `dict`. Chúng tôi không muốn dấu ngoặc đơn, vì vậy hãy đổi tên chúng:

In [34]:
movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns
movies_df.describe()

,Rank,Year,Runtime,Rating,Votes,Revenue_millions,Metascore
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

Tuyệt vời. Nhưng nếu chúng ta muốn chuyển tất cả tên thành chữ thường thì sao? Thay vì sử dụng `.rename()`, chúng tôi cũng có thể đặt một danh sách tên cho các cột như sau:

In [ ]:
movies_df.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                     'rating', 'votes', 'revenue_millions', 'metascore']


movies_df.columns

Nhưng đó là quá nhiều công việc. Thay vì chỉ đổi tên mỗi cột theo cách thủ công, chúng tôi có thể thực hiện một `list comprehension`:

In [26]:
# movies_df.columns = [col.lower() for col in movies_df]

# movies_df.columns

movies_df

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue_millions,Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Search Party,999,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

`list` (và `dict`) `comprehension` thường rất hữu ích khi làm việc với `pandas` và dữ liệu nói chung.

Nếu bạn sẽ làm việc với một tập dữ liệu trong một thời gian, thì nên chuyển tất cả thành chữ thường, loại bỏ các ký tự đặc biệt, và thay thế khoảng trắng bằng dấu gạch dưới.

### Làm thế nào để làm việc với giá trị bị thiếu

Khi khám phá dữ liệu, bạn rất có thể sẽ gặp các giá trị thiếu hoặc `null`, đó chính là các giữ chỗ cho các giá trị không tồn tại. Phổ biến nhất, bạn sẽ thấy `None` của Python hoặc `np.nan` của `NumPy`, mỗi loại đều được xử lý khác nhau trong một số tình huống.

Có hai lựa chọn khi xử lý giá trị `null`:

1. Loại bỏ các hàng hoặc cột với giá trị `null`
2. Thay thế giá trị `null` bằng giá trị không phải `null`, một kỹ thuật được biết đến là **imputation**/sự thay đổi

Hãy tính tổng số lượng giá trị `null` trong mỗi cột của tập dữ liệu của chúng tôi. Bước đầu tiên là kiểm tra xem các ô nào trong DataFrame của chúng tôi là `null`:

In [27]:
movies_df.isnull()

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue_millions,Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,False,False,False,False,False,False,False,False,False,False,False
Prometheus,False,False,False,False,False,False,False,False,False,False,False
Split,False,False,False,False,False,False,False,False,False,False,False
Sing,False,False,False,False,False,False,False,False,False,False,False
Suicide Squad,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
Secret in Their Eyes,False,False,False,False,False,False,False,False,False,True,False
Hostel: Part II,False,False,False,False,False,False,False,False,False,False,False
Step Up 2: The Streets,False,False,False,False,False,False,False,False,False,False,False
Search Party,False,False,False,False,False,False,False,False,False,True,False
Nine Lives,False,False,False,False,False,False,False,False,False,False,False

Lưu ý rằng `isnull()` trả về một DataFrame nơi mỗi ô là `True` hoặc `False` tùy thuộc vào trạng thái `null` của ô đó.

Để đếm số lượng giá trị `null` trong mỗi cột, chúng tôi sử dụng một hàm tổng hợp để tính tổng:

In [28]:
movies_df.isnull().sum()

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime               0
Rating                0
Votes                 0
Revenue_millions    128
Metascore            64
dtype: int64

`.isnull()` chỉ sử dụng riêng rẽ không phải là rất hữu ích, và thường được sử dụng cùng với các phương thức khác, như `sum()`.

Bây giờ chúng ta có thể thấy rằng dữ liệu của chúng ta có **128** giá trị thiếu cho cột `revenue_millions` và **64** giá trị thiếu cho cột `metascore`.

#### Loại bỏ giá trị `null`

Các Nhà khoa học dữ liệu và Phân tích viên thường xuyên đối mặt với thách thức về việc loại bỏ hoặc điền giá trị `null`, và đây là một quyết định đòi hỏi kiến thức sâu rộng về dữ liệu và ngữ cảnh của nó. Nói chung, việc loại bỏ dữ liệu `null` chỉ được đề xuất nếu bạn có một lượng nhỏ dữ liệu bị thiếu.

Loại bỏ giá trị `null` khá đơn giản:

In [29]:
movies_df.dropna()

,Rank,Genre,Description,Director,Actors,Year,Runtime,Rating,Votes,Revenue_millions,Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Resident Evil: Afterlife,994,"Action,Adventure,Horror",While still out to destroy the evil Umbrella C...,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Wentworth Miller,K...",2010,97,5.9,140900,60.13,37.0
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
Hostel: Part II,997,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
Nine Lives,1000,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

Thao tác này sẽ xóa bất kỳ **hàng** nào có ít nhất một giá trị `null`, nhưng nó sẽ trả về một `DataFrame` mới mà không thay đổi `DataFrame` gốc. Bạn cũng có thể chỉ định `inplace=True` trong phương thức này.

Vì vậy, trong trường hợp của tập dữ liệu của chúng tôi, thao tác này sẽ xóa 128 hàng nơi `revenue_millions` là `null` và 64 hàng nơi `metascore` là `null`. Rõ ràng điều này dường như là lãng phí vì có dữ liệu hoàn toàn tốt trong các cột khác của những hàng bị xóa. Đó là lý do tại sao chúng tôi sẽ xem xét imputation/sự thay đổi tiếp theo.

Không chỉ xóa các hàng, bạn cũng có thể xóa các cột với giá trị `null` bằng cách đặt `axis=1`:

In [ ]:
movies_df.dropna(axis=1)

Trong tập dữ liệu của chúng tôi, thao tác này sẽ xóa các cột `revenue_millions` và `metascore`.

**Ghi chú về trực giác**: Tham số `axis=1` này là gì?

Không rõ ràng ngay lập tức từ đâu `axis` đến và tại sao bạn cần nó là `1` để ảnh hưởng đến các cột. Để thấy tại sao, chỉ cần nhìn vào đầu ra của `.shape`:

In [ ]:
movies_df.shape

Như chúng ta đã học ở trên, đây là một `tuple` đại diện cho hình dạng của `DataFrame`, tức là 1000 hàng và 11 cột. Chú ý rằng các *hàng* ở chỉ mục `0` của `tuple` này và *cột* ở **chỉ mục 1** của `tuple` này. Đây là lý do tại sao `axis=1` ảnh hưởng đến các cột. Điều này đến từ `NumPy`, và là một ví dụ tuyệt vời về việc tại sao  học `NumPy` đáng giá thời gian của bạn.

### Imputation/Sự thay đổi

`Imputation` là một kỹ thuật trích chọn đặc trưng thông thường được sử dụng để giữ lại dữ liệu quý giá có giá trị `null`.

Có thể có trường hợp mà việc xóa mỗi hàng có giá trị `null` loại bỏ quá nhiều phần từ tập dữ liệu của bạn, vì vậy thay vào đó, chúng ta có thể điền giá trị `nul`l đó bằng một giá trị khác, thường là **mean** hoặc **median** của cột đó.

Hãy xem xét việc điền các giá trị thiếu trong cột `revenue_millions`. Đầu tiên, chúng ta sẽ trích xuất cột đó thành một biến riêng:

In [ ]:
revenue = movies_df['revenue_millions']
revenue_mean = revenue.mean()

revenue_mean

Sử dụng dấu ngoặc vuông là cách chung chúng ta chọn các cột trong `DataFrame`.

Nếu bạn nhớ lại khi chúng ta tạo `DataFrame` từ đầu, các khóa/key của `dict` đã trở thành tên cột. Bây giờ khi chúng ta chọn các cột của `DataFrame`, chúng ta sử dụng dấu ngoặc vuông giống như thể chúng ta đang truy cập vào một từ điển `Python`.

`revenue` bây giờ chứa một `Series`:

In [33]:
print(movies_df)
revenue = movies_df['revenue_millions']
revenue.head()

                         Rank                     Genre  \
Title
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi
Prometheus                  2  Adventure,Mystery,Sci-Fi
Split                       3           Horror,Thriller
Sing                        4   Animation,Comedy,Family
Suicide Squad               5  Action,Adventure,Fantasy
...                       ...                       ...
Secret in Their Eyes      996       Crime,Drama,Mystery
Hostel: Part II           997                    Horror
Step Up 2: The Streets    998       Drama,Music,Romance
Search Party              999          Adventure,Comedy
Nine Lives               1000     Comedy,Family,Fantasy

                                                               Description  \
Title
Guardians of the Galaxy  A group of intergalactic criminals are forced ...
Prometheus               Following clues to the origin of mankind, a te...
Split                    Three girls are kidnapped by a man with a diag...
Sing                     In a city of humanoid animals, a hustling thea...
Suicide Squad            A secret government agency recruits some of th...
...                                                                    ...
Secret in Their Eyes     A tight-knit team of rising investigators, alo...
Hostel: Part II          Three American college students studying abroa...
Step Up 2: The Streets   Romantic sparks occur between two dance studen...
Search Party             A pair of friends embark on a mission to reuni...
Nine Lives               A stuffy businessman finds himself trapped ins...

                                     Director  \
Title
Guardians of the Galaxy            James Gunn
Prometheus                       Ridley Scott
Split                      M. Night Shyamalan
Sing                     Christophe Lourdelet
Suicide Squad                      David Ayer
...                                       ...
Secret in Their Eyes                Billy Ray
Hostel: Part II                      Eli Roth
Step Up 2: The Streets             Jon M. Chu
Search Party                   Scot Armstrong
Nine Lives                   Barry Sonnenfeld

                                                                    Actors  \
Title
Guardians of the Galaxy  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
Prometheus               Noomi Rapace, Logan Marshall-Green, Michael Fa...
Split                    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...
Sing                     Matthew McConaughey,Reese Witherspoon, Seth Ma...
Suicide Squad            Will Smith, Jared Leto, Margot Robbie, Viola D...
...                                                                    ...
Secret in Their Eyes     Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...
Hostel: Part II          Lauren German, Heather Matarazzo, Bijou Philli...
Step Up 2: The Streets   Robert Hoffman, Briana Evigan, Cassie Ventura,...
Search Party             Adam Pally, T.J. Miller, Thomas Middleditch,Sh...
Nine Lives               Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...

                         Year  Runtime  Rating   Votes  Revenue_millions  \
Title
Guardians of the Galaxy  2014      121     8.1  757074            333.13
Prometheus               2012      124     7.0  485820            126.46
Split                    2016      117     7.3  157606            138.12
Sing                     2016      108     7.2   60545            270.32
Suicide Squad            2016      123     6.2  393727            325.02
...                       ...      ...     ...     ...               ...
Secret in Their Eyes     2015      111     6.2   27585               NaN
Hostel: Part II          2007       94     5.5   73152             17.54
Step Up 2: The Streets   2008       98     6.2   70699             58.01
Search Party             2014       93     5.6    4881               NaN
Nine Lives               2016       87     5.3   12435             19.64

                         Metascore
Title
Guardians of the Galaxy       76.0
Prometheus                    65.0
Split                         62.0
Sing                          59.0
Suicide Squad                 40.0
...                            ...
Secret in Their Eyes          45.0
Hostel: Part II               46.0
Step Up 2: The Streets        50.0
Search Party                  22.0
Nine Lives                    11.0

[1000 rows x 11 columns]

KeyError: 'revenue_millions'

Định dạng hơi khác so với `DataFrame`, nhưng chúng ta vẫn có chỉ mục `Title`.

Chúng ta sẽ điền các giá trị thiếu của doanh thu bằng cách sử dụng `mean`. Đây là giá trị `mean`:

In [ ]:
revenue_mean = revenue.mean()

revenue_mean

Với giá trị trung bình, hãy điền vào các giá trị `null` sử dụng `fillna()`:

In [ ]:
revenue.fillna(revenue_mean, inplace=True)

Bây giờ chúng tôi đã thay thế tất cả các giá trị null trong `revenue` bằng giá trị trung bình của cột. Lưu ý rằng bằng cách sử dụng `inplace=True` chúng tôi thực sự đã ảnh hưởng đến `movies_df` gốc:

In [30]:
movies_df.isnull().sum()

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime               0
Rating                0
Votes                 0
Revenue_millions    128
Metascore            64
dtype: int64

Điền toàn bộ cột bằng cùng một giá trị như thế này là một ví dụ cơ bản. Sẽ là một ý tưởng tốt hơn nếu thử điền một cách chi tiết hơn theo `Thể loại` hoặc `Đạo diễn`.

Ví dụ, bạn sẽ tìm ra giá trị trung bình của doanh thu được tạo ra trong từng thể loại riêng lẻ và điền các giá trị `null` trong từng thể loại bằng giá trị trung bình của thể loại đó.

Bây giờ hãy xem xét thêm nhiều cách để kiểm tra và hiểu tập dữ liệu.

### Hiểu các biến của bạn

Sử dụng `describe()` trên toàn bộ `DataFrame`, chúng ta có thể nhận được một bản tóm tắt về phân phối của các biến liên tục:

In [ ]:
movies_df.describe()

Kết quả sẽ là một `DataFrame` mới chứa các thống kê mô tả cho từng **cột số** trong `DataFrame` gốc. Các thống kê này bao gồm:

- `count`: số lượng giá trị không `null`
- `mean`: giá trị trung bình
- `std`: độ lệch chuẩn, đo lường mức độ phân tán của tập hợp số liệu
- `min`: giá trị nhỏ nhất
- `25%`, `50%`, `75%`: phần tư thứ 1, 2 (hay còn gọi là trung vị), và 3 - chúng chia phân phối thành bốn phần bằng nhau
- `max`: giá trị lớn nhất

Lưu ý là phương thức `describe()` chỉ thực hiện được trên các cột dữ liệu dạng số. Các cột không phải dạng số sẽ bị bỏ qua.

Hiểu rõ về những con số nào là liên tục cũng rất tiện dụng khi bạn suy nghĩ về loại biểu đồ sẽ được sử dụng để biểu diễn dữ liệu của mình một cách trực quan.

`.describe()` cũng có thể được sử dụng trên một biến phân loại để lấy số lượng hàng, số lượng các danh mục duy nhất, danh mục hàng đầu, và tần suất của danh mục hàng đầu:

In [ ]:
movies_df['genre'].describe()

Điều này cho chúng ta biết rằng cột thể loại/`genre` có 207 giá trị duy nhất, giá trị hàng đầu là Action/Adventure/Sci-Fi, xuất hiện 50 lần (freq).

`.value_counts()` có thể cho chúng ta biết tần suất của tất cả các giá trị trong một cột:

In [ ]:
movies_df['genre'].value_counts().head(10)

#### Mối quan hệ giữa các biến liên tục

Bằng cách sử dụng phương thức tương quan `.corr()`, chúng ta có thể tạo ra mối quan hệ giữa từng biến liên tục:

In [ ]:
my_df = movies_df.select_dtypes(exclude=[object])
my_df.corr()

Bảng tương quan là biểu diễn số hóa của các mối quan hệ song phương trong tập dữ liệu.

Con số dương chỉ ra sự tương quan dương - khi một biến số tăng thì biến số kia cũng tăng - và con số âm đại diện cho sự tương quan nghịch - khi một biến tăng thì biến số kia giảm. 1.0 chỉ ra sự tương quan hoàn hảo.

Vì vậy, nhìn vào hàng đầu tiên, cột đầu tiên, chúng ta thấy `rank` có sự tương quan hoàn hảo với chính nó, điều này rõ ràng. Mặt khác, tương quan giữa `votes` và `revenue_millions` là 0.6. Điều này hấp dẫn hơn một chút.

Việc khảo sát các mối quan hệ song phương hữu ích khi bạn có một biến kết quả hoặc biến phụ thuộc trong tâm trí và muốn xem các đặc trưng nào tương quan nhất với việc tăng hoặc giảm kết quả. Bạn có thể biểu diễn mối quan hệ song phương một cách trực quan với biểu đồ phân tán (được xem dưới đây trong phần vẽ biểu đồ).

Để tìm hiểu sâu hơn về việc tổng hợp dữ liệu, hãy xem [Thống kê cơ bản cho Khoa học Dữ liệu](https://www.learndatasci.com/tutorials/data-science-statistics-using-python/).

Bây giờ, hãy xem xét thêm về việc thao tác `DataFrames`.

### Cắt, chọn, trích xuất `DataFrame`

Cho đến nay, chúng ta đã tập trung vào một số tổng kết cơ bản về dữ liệu của chúng ta. Chúng ta đã tìm hiểu về việc trích xuất cột đơn giản bằng cách sử dụng dấu ngoặc đơn, và chúng ta đã điền vào các giá trị `null` trong một cột bằng cách sử dụng `fillna()`. Dưới đây là các phương pháp cắt, chọn và trích xuất khác mà bạn sẽ cần sử dụng liên tục.

Điều quan trọng cần lưu ý là, mặc dù nhiều phương pháp giống nhau, nhưng `DataFrame` và `Series` có các thuộc tính khác nhau, vì vậy bạn cần chắc chắn biết bạn đang làm việc với loại nào, nếu không bạn sẽ nhận được lỗi thuộc tính.

Hãy xem xét việc làm việc với các cột đầu tiên.

#### Theo cột

Bạn đã thấy cách trích xuất một cột bằng cách sử dụng dấu ngoặc vuông như sau:

In [ ]:
genre_col = movies_df['genre']

type(genre_col)

Điều này sẽ trả về một `Series`. Để trích xuất một cột dưới dạng `DataFrame`, bạn cần truyền vào một danh sách các tên cột. Trong trường hợp của chúng ta, đó chỉ là một cột duy nhất:

In [ ]:
genre_col = movies_df[['genre']]

type(genre_col)

Vì chỉ là một danh sách, nên việc thêm tên cột khác rất dễ dàng:

In [ ]:
subset = movies_df[['genre', 'rating']]

subset.head()

Bây giờ chúng ta sẽ xem xét việc lấy dữ liệu theo hàng.

#### Theo hàng

Đối với hàng, chúng ta có hai lựa chọn:

- `.loc` - định vị theo tên
- `.iloc`- định vị theo chỉ số số học

Hãy nhớ rằng chúng ta vẫn được lập chỉ mục theo tiêu đề/Title phim, vì vậy để sử dụng `.loc` chúng ta cung cấp tiêu đề của một bộ phim:

In [ ]:
prom = movies_df.loc["Prometheus"]

prom

Mặt khác, với `iloc`, chúng ta cung cấp chỉ số số học của Prometheus:

In [ ]:
prom = movies_df.iloc[1]
prom

`loc` và `iloc` có thể được coi như tương tự như việc cắt `list` (list sclicing) trong Python. Để minh họa thêm, hãy chọn nhiều hàng.

Bạn sẽ làm như thế nào với một danh sách? Trong Python, chỉ cần cắt bằng dấu ngoặc vuông như `example_list[1:4]`. Việc này cũng hoạt động theo cùng cách trong `pandas`:

In [ ]:
movie_subset = movies_df.loc['Prometheus':'Sing']

movie_subset

In [ ]:
movie_subset = movies_df.iloc[1:4]

movie_subset

Một sự khác biệt quan trọng giữa việc sử dụng `.loc` và `.iloc` để chọn nhiều hàng là `.loc` bao gồm bộ phim *Sing* trong kết quả, nhưng khi sử dụng `.iloc` chúng ta nhận được các hàng từ `1` đến `4` nhưng bộ phim tại chỉ số `4` (*Suicide Squad*) không được bao gồm.

Cắt với `.iloc` tuân theo cùng một quy tắc như cắt với danh sách, đối tượng tại chỉ mục ở cuối không được bao gồm.

#### Lựa chọn theo điều kiện
Chúng tôi đã trình bày cách chọn các cột và hàng, nhưng nếu chúng tôi muốn thực hiện một lựa chọn theo điều kiện thì sao?

Ví dụ, nếu chúng tôi muốn lọc `DataFrame` phim của chúng tôi để chỉ hiển thị các phim do "Ridley Scott" đạo diễn hoặc các phim có xếp hạng lớn hơn hoặc bằng `8.0`?

Để làm điều đó, chúng ta lấy một cột từ `DataFrame` và áp dụng một điều kiện `Boolean` cho nó. Dưới đây là một ví dụ về điều kiện `Boolean`:

In [ ]:
condition = (movies_df['director'] == "Ridley Scott")

condition.head()

Tương tự như `isnull()`, điều này trả về một Series của các giá trị `True` và `False`: `True` cho các phim do "Ridley Scott" đạo diễn và `False` cho những phim không do ông đạo diễn.

Chúng ta muốn lọc ra tất cả các bộ phim không do "Ridley Scott" đạo diễn, nói cách khác, chúng ta không muốn các bộ phim `False`. Để trả về các hàng mà điều kiện đó là `True`, chúng ta phải đưa thao tác này vào `DataFrame`:

In [ ]:
movies_df[movies_df['director'] == "Ridley Scott"].head()

Bạn có thể làm quen với việc nhìn vào các điều kiện này bằng cách đọc nó như sau:

> `Chọn movies_df nơi movies_df director bằng Ridley Scott`

Hãy xem xét việc lựa chọn theo điều kiện sử dụng các giá trị số bằng cách lọc `DataFrame` theo xếp hạng:

In [ ]:
movies_df[movies_df['rating'] >= 8.6].head(3)

Chúng ta có thể tạo ra các điều kiện phong phú hơn bằng cách sử dụng các toán tử logic `|` cho "hoặc" và `&` cho "và".

Hãy lọc `DataFrame` để chỉ hiển thị các phim của "Christopher Nolan" HOẶC "Ridley Scott":

In [ ]:
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

Chúng ta cần đảm bảo rằng nhóm các phép đánh giá bằng dấu ngoặc để `Python` biết cách đánh giá điều kiện.

Tuy nhiên, bằng cách sử dụng phương thức `isin()`, chúng ta có thể làm cho điều này ngắn gọn hơn:

In [ ]:
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

Giả sử chúng ta muốn tất cả các bộ phim được phát hành giữa năm `2005` và `2010`, có xếp hạng trên `8.0`, nhưng thu nhập dưới phân vị thứ 25 (tứ phân vị thứ nhất - **Q1**).

Dưới đây là cách chúng ta có thể thực hiện tất cả những điều đó:

In [ ]:
movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

Nếu bạn nhớ lại khi chúng tôi sử dụng `.describe()`, phân vị thứ 25 cho doanh thu là khoảng 17.4, và chúng tôi có thể truy cập trực tiếp vào giá trị này bằng cách sử dụng phương thức `quantile()` với một số thực là 0.25.

Vì vậy, ở đây chúng tôi chỉ có bốn bộ phim phù hợp với tiêu chí đó.

## Áp dụng các hàm

Có thể lặp qua `DataFrame` hoặc `Series` như bạn làm với một danh sách, nhưng việc làm như vậy - đặc biệt là trên các tập dữ liệu lớn - rất chậm.

Một lựa chọn hiệu quả hơn là `apply()` một hàm vào tập dữ liệu. Ví dụ, chúng ta có thể sử dụng một hàm để chuyển đổi các bộ phim có `8.0` hoặc cao hơn thành giá trị chuỗi "good" và phần còn lại thành "bad" và sử dụng các giá trị đã biến đổi này để tạo một cột mới.

Đầu tiên, chúng ta sẽ tạo một hàm mà khi được cung cấp một xếp hạng, xác định nó là "good" hay "bad":

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

Bây giờ chúng ta muốn gửi toàn bộ cột xếp hạng qua hàm này, đó là những gì `apply()` làm:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(rating_function)

movies_df.head(2)

Phương thức `.apply()` chuyển mọi giá trị trong cột `rating` qua `rating_function` và sau đó trả về một `Series` mới. `Series` này sau đó được gán cho một cột mới có tên `rating_category`.

Bạn cũng có thể sử dụng các hàm ẩn danh cũng được. Hàm `lambda` này đạt được cùng một kết quả như `rating_function`:

In [ ]:
movies_df["rating_category"] = movies_df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')

movies_df.head(2)

Nói chung, việc sử dụng `apply()` sẽ nhanh hơn nhiều so với việc lặp qua các dòng một cách thủ công bởi vì `pandas` đang sử dụng `vectorization`.

> `Vectorization`: một phong cách lập trình máy tính nơi các phép toán được áp dụng cho cả các mảng thay vì các phần tử cá nhân —[Wikipedia](https://en.wikipedia.org/wiki/Vectorization)

Một ví dụ tốt về việc sử dụng nâng cao `apply()` là trong công việc xử lý ngôn ngữ tự nhiên (`NLP`). Bạn sẽ cần áp dụng tất cả các loại hàm làm sạch văn bản cho các chuỗi để chuẩn bị cho học máy.

## Vẽ đồ thị ngắn gọn

Điều tuyệt vời khác về `pandas` là nó tích hợp với `Matplotlib`, vì vậy bạn có khả năng vẽ đồ thị trực tiếp từ `DataFrames` và `Series`. Để bắt đầu, chúng ta cần nhập `Matplotlib` (`pip install matplotlib`):

In [36]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)}) # set font and plot size to be larger

Bây giờ chúng ta có thể bắt đầu vẽ. Sẽ không có nhiều phần bao phủ về việc vẽ đồ thị, nhưng nó nên đủ để khám phá dữ liệu của bạn một cách dễ dàng.

**Ghi chú:**
Đối với các **biến phân loại**, hãy sử dụng *Biểu đồ cột* và *Boxplots*. Đối với các **biến liên tục**, hãy sử dụng *Histograms*, *Scatterplots*, *đồ thị đường/Line* và *Boxplots*.

Hãy vẽ biểu đồ mối quan hệ giữa xếp hạng và doanh thu. Tất cả những gì chúng ta cần làm là gọi `.plot()` trên `movies_df` với một số thông tin về cách xây dựng biểu đồ:

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating');

Vấn đề gì với dấu chấm phẩy/`;` (sau hàm plot())?  Đó không phải là lỗi cú pháp, chỉ là một cách để ẩn output `<matplotlib.axes._subplots.AxesSubplot at 0x26613b5cc18>` khi vẽ đồ thị trong Jupyter notebooks.

Nếu chúng ta muốn vẽ một *Histogram* đơn giản dựa trên một cột đơn, chúng ta có thể gọi `plot` trên một cột:

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating');

Bạn còn nhớ ví dụ `.describe()` ở phần đầu của bài hướng dẫn này không? Có một biểu đồ biểu diễn phạm vi tứ phân vị, được gọi là *Boxplot*. Hãy nhớ lại xem `describe()` cho chúng ta gì trên cột xếp hạng/`rating`:

In [ ]:
movies_df['rating'].describe()

Sử dụng *Boxplot*, chúng ta có thể trực quan hóa dữ liệu này:

In [ ]:
movies_df['rating'].plot(kind="box");

<figure>
<img src="https://i1.wp.com/flowingdata.com/wp-content/uploads/2008/02/box-plot-explained.gif" />
    <figcaption>Nguồn: *Flowing Data*</figcaption>
</figure>


Bằng cách kết hợp dữ liệu phân loại và liên tục, chúng ta có thể tạo một *Boxplot* của doanh thu được nhóm theo `Rating Category` mà chúng ta đã tạo ở trên:

In [ ]:
movies_df.boxplot(column='revenue_millions', by='rating_category');

Đó là ý tưởng chung về việc vẽ đồ thị với `pandas`. Có quá nhiều đồ thị để đề cập, vì vậy hãy xem qua tài liệu về `plot()` [tại đây](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) để biết thêm thông tin về những gì nó có thể làm.

## Kết thúc

Khám phá, làm sạch, biến đổi và hình dung dữ liệu với `pandas` trong `Python` là một kỹ năng thiết yếu trong khoa học dữ liệu. Chỉ việc làm sạch và xử lý dữ liệu đã chiếm `80%` công việc của bạn như một `Nhà Khoa học Dữ liệu`. Sau một số dự án và thực hành, bạn sẽ cảm thấy rất thoải mái với hầu hết các kiến thức cơ bản.

Để tiếp tục cải thiện, xem các [hướng dẫn chi tiết](https://pandas.pydata.org/pandas-docs/stable/tutorials.html) được cung cấp bởi tài liệu chính thức của `pandas`, theo dõi một số [Kaggle kernels](https://www.kaggle.com/kernels), và tiếp tục làm việc trên các dự án của riêng bạn!

## Tài liệu tham khảo  
[Python Pandas Tutorial: A Complete Introduction for Beginners](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)